html {
    background: #000;
}

body {
    background: #000;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #000;
    font-family: "PT Serif", "Franxurter Totally Medium", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #35AFFF;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
    padding-top: 90px;
}

h3 {
    margin-top: 1.3em;
    font-size: 28px;
    padding-left: 520px;
    padding-top: 85px;
}

h4 {
    margin-top: 1.3em;
    font-size: 28px;
    text-align: center;
    padding-top: 175px;
}

.imagecenter {
  display: block;
  margin-left: -33px;
  margin-right: auto;
  width: 110%;
}

.solid_right {
    border-color:#fff; 
    box-shadow: 0 0 0 8px #fff, 0 0 0 9px #fff;
    background: #fff;
    width: 60%
}

.solid_left {
    border-color:#fff; 
    box-shadow: 0 0 0 8px #fff, 0 0 0 9px #fff;
    background: #fff;
    width: 60%
}

.solid_center {
    border-color:#fff; 
    box-shadow: 0 0 0 8px #fff, 0 0 0 9px #fff;
    background: #fff;
    width:60%
}

.circle {
    width:350px;
    height:350px;
    border-radius:350px;
    background:#35AFFF
}
